@model Offer
@{
    ViewBag.Title = "Add Offer";

    List<int> numbers = new List<int>();
    for (int i = 5; i <= 50; i += 5) {
        numbers.Add(i);
    }

    SelectList list = new SelectList(numbers);

}


<div class="container">
    <div class="row">

        <div class="col-lg-offset-2 col-lg-6">
            <h2>Add Offer</h2>
            <br />
            <form method="post" action="~/Offer/AddOffer">
                @Html.LabelFor(m => Model.Title)
                <div class="text-danger">@Html.ValidationMessageFor(m => m.Title)</div>
                @Html.EditorFor(m => Model.Title, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                @Html.LabelFor(m => Model.Limit)
                <div class="text-danger">@Html.ValidationMessageFor(m => m.Limit)</div>
                @Html.EditorFor(m => Model.Limit, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                @Html.LabelFor(m => Model.Discount)
                <div class="text-danger">@Html.ValidationMessageFor(m => m.Discount)</div>
                @Html.DropDownListFor(m => Model.Discount, list, new { @class = "form-control" })
                <br />
                <input type="submit" class="form-control btn btn-success" value="Add Offer" />
        </form>
   </div>

        <div class="col-lg-4">
            <img src="~/Content/car.png" class="img-responsive" />
        </div>
    </div>
</div>

