@using Garage1.Models
@model List<Log>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Garage Logs</h2>

<table class="table table-responsive">
    <tr class="text-info">
        <td>Car Title</td>
        <td>Rent date</td>
        <td>Period</td>
        <td>Client</td>
        <td>Other</td>
    </tr>


    @foreach (var item in Model) {
        <tr>
            <th>@item.MSG</th>
            <th>@item.date.Day / @item.date.Month / @item.date.Year</th>
            <th>@item.period</th>
            <th><a href="~/Client/ShowClientsCards/@item.nationalID">@item.nationalID</a></th>
            @if (item.kind == kind.car) {
                <th></th>
            }
            else {
                <th>in @item.kind.ToString()</th>
            }

        </tr>
    }

</table>



